/*
// Designer & Developer: M Nazim Uddin Molla;
// E-mail: mohnazimuddin@gmail.com;
// Phone: +8801711062063, +8801515243401;
// Facebook: www.facebook.com/nzm404;
// Gitlab: https://gitlab.com/mnazimmolla;
// Github: https://github.com/mnazimmolla;
*/

/* Preloader */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 99;
}
#status {
  width: 200px;
  height: 200px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url(https://raw.githubusercontent.com/niklausgerber/PreLoadMe/master/img/status.gif);
  background-repeat: no-repeat;
  background-position: center;
  margin: -100px 0 0 -100px;
}
/* Preloader */

body {
	margin: 0 auto;
	color: #000;
	font-family: 'Montserrat', sans-serif;
	overflow: hidden;
	/*background: #323232;*/
}
.logo {
	height: 40px;
	width: 180px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
.header {
	font-size: 13px;
	background-color: #fff;
	border-bottom: 1px solid #e7e7e7;
}
a {
	color: #fff;
	text-decoration: none;
	outline: none;
	font-weight: 600;
}
a:hover, a:focus {
	color: #debcc3;
	text-decoration: none !important;
}

/* Home page */
.header-top-left {
	float: left;
	padding: 14px;
	margin-left: 50px;
	font-weight: 600;
}
.header-top-left a {
	color: #000;
	text-transform: uppercase;
	font-weight: 300;
}
.panel {
    border: 0px solid transparent;
}
.codrops-header h3, .codrops-header p {
	color: #fff;
}
.business-promotion {
	margin-top: 650px;
	padding: 60px 0px 40px 0px;
	background-color: #e7e7e7;
	color: #000;
}
.business-promotion img {
	margin: 0 auto;
	text-align: center;
	box-shadow: 7px 15px 30px 2px #000;
	-moz-box-shadow: 7px 15px 30px 2px #000;
	-webkit-box-shadow: 7px 15px 30px 2px #000;
}
.promotion-item {
	margin-top: 50px;
}
.promotion-item p, .promotion-item ul {
	font-weight: 200 !important;
	font-size: 12px !important;	
}
.footer-heading {
	text-transform: uppercase;
}
/* Home page */

/* Contact page */
.contact {
	padding: 20px;
	margin-bottom: 30px;
	margin-top: 20px;
}
.contact iframe, .contact form {
	margin-top: 20px;
}
.contact .form-control {
    border: 1px solid transparent;
    border-bottom: 2px solid #000;
    border-radius: 0px;
}
.contact .form-group ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  	font-size: 12px;
}
.contact .form-group ::-moz-placeholder {
  	font-size: 12px;
}
.contact .form-group :-ms-input-placeholder {
  	font-size: 12px;
}
}
.contact .form-group :-moz-placeholder {
  	font-size: 12px;
}
.contact .form-group label{
	font-size: 12px;
	font-weight: 200;
}    
/* Contact page */

/* About US page */
.about-us {
	padding: 0px 30px 30px 30px;
	color: #7e7e7e;
	background-color: #fff;
}
.about-item {
	margin-top: 50px;
}
.about-item-heading {
	text-transform: uppercase;
}

.about-item-desc {
	text-align: justify;	
}
/* About US page */

/* Products page */
.products {
	padding: 0px 30px 30px 30px;
	color: #7e7e7e;
	background-color: #fff;
	margin-top: 30px;
}
.product-image img {
	max-width: 250px !important;
	max-height: 250px !important;
}
.product-item {
	border: 1px solid #000;
	padding: 10px;
	border-radius: 5px;
	margin-top: 30px;
}
/* Products page */
/* Product Single */
.products-single {
	padding: 0px 30px 30px 30px;
	color: #7e7e7e;
	background-color: #fff;
	margin-top: 30px;
}
.single-img img {
	margin: 0 auto;
	text-align: center;
}
.products-single-name {
	margin-top: 15px;
}
.products-single-details {
	text-align: justify;
}
/* Product Single */
/* Profile Page */
.profile-page {
	padding: 30px 0px 30px 0px;
	color: #7e7e7e;
	background-color: #fff;
}
.profile-page li {
	margin-top: 10px;
}
/* Profile Page */
/* Footer page */
footer {
	color: #7e7e7e;
	font-weight: 200;
	font-size: 12px;
	background: #222;
	padding: 30px 0px 30px 0px;
}
/* Footer page */

